.title-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.action-wrap {
    display: flex;
    justify-content: space-between;

    box-sizing: border-box;
    height: 180px;
    padding: 10px 20px;
}

.qrcode-wrap {
    flex: 1 1 auto;
    display: flex;
    min-width: 160px;
    justify-content: center;
    align-items: center;
}

.button-wrap {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.button-group-wrap {
    display: flex;
    justify-content: center;
}

.add-panel-wrap {
    display: flex;
    justify-content: center;
}

.panel-wrap {
    padding: 0 20px;
}