.title-wrap {
    height: 50px;
    display: flex;
    justify-content: center;
}

.qrcode-wrap {
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
}
.button-group-wrap {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.add-panel-wrap {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.panel-wrap {
    padding: 0 20px;
}